.container {
  text-align: center;
  padding-bottom: 20px;
}

.number {
  font-family: "Avenir";
  font-weight: medium;
  font-size: 36pt;
  color: #FFFFFF;
}

.description {
  font-family: "Avenir";
  font-weight: normal;
  font-size: 24pt;
  color: #FFFFFF;
}

.icon {
  height: 128px;
  width: 128px;
}
