.container {
  text-align: center;
  padding-bottom: 20px;
}

.number {
  font-family: "Avenir";
  font-weight: medium;
  font-size: 36pt;
  color: #FFFFFF;
}

.description {
  font-family: "Avenir";
  font-weight: normal;
  font-size: 24pt;
  color: #FFFFFF;
}

@media screen and (max-width: 470px) {
  .number {
    font-size: 20pt;
  }

  .description {
    font-size: 16pt;
  }
}

.descriptioncol {
  text-align: left;
}

.row {
  width: 50%;
  max-width: 50%;
}

.icon {
  height: 128px;
  width: 128px;
}
