.header {
  text-align:center;
  margin-bottom: 0;
}

.fullcontainer {
  padding: 0px 10px 20px 10px;
}

.container {
  margin: 20px;
}

.block {
  margin: 10px;
}

@media screen and (min-width: 930px) {
  .container {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .block {
    margin: 30px;
  }
}


.title {
  text-align:center;
  color: #FFF;
  border: solid #000;
  border-radius: 10px 10px 0px 0px;
  border-width: 1px 1px 0px 1px;
  margin: 0;
  padding: 5px;
}

.description {
  margin: 0;
  padding: 5px;
  width: inherit;
}

.descriptioncontainer {
  border: solid #000;
  border-radius: 0px 0px 10px 10px;
  border-width: 0px 1px 1px 1px;
  flex-grow: 1;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
