.titleContainer {
    background: white;
    text-align: center;
}

.welcomeContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.welcome{
	font-family: "Helvetica";
	font-weight: lighter;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  display: inline-block;
  padding: 5px;
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 23px;
  }
}
