
.more_button{border-style:none;background:none;font-size:40px;font-family:Helvetica;color:gray;margin: 0 0 10px 0;}

.grow input:checked{color:red;}

.more_button:hover{color:black;}

.grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }