.header {
  text-align:center;
  background-color: #D8D8D8;
  padding-top: 10px;
  margin-bottom: 0;
}

.subheader {
  margin-left: 5px;
}

.description {
  margin: 0;
  width: inherit;
  padding: 5px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.container {
  margin: 20px;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px 30px 30px 30px;
}

.facebookButtonContainer{
  margin: 0;
}

tr.space > td {
  padding-bottom: 10px;
}

.table {
  width: 100%;
}

@media screen and (min-width: 930px) {
  .container {
    padding: 30px;
  }
}

@media screen and (max-width: 929px) {
  .subheader {
    margin: 5px;
  }
}

@media screen and (max-width: 470px) {
  .table {
    width: 50%;
  }
}
