.container {
	width: 100%;
	height: 100%;
	background-color: #4A90E2;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.smallContainer {
	padding: 75px 0;

}

.contactHeader {
	line-height: 1em;
	text-align: center;
	color: #FFFFFF;
	font-family: "Helvetica", lighter;
	font-size: 48px;
	letter-spacing: 5px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.contactText {
	font-family: "Palatino", regular;
	font-size: 18px;
	color: #D8D8D8;
	line-height: 2em;
	margin: 0 12vw;
	padding: 50px 0 0 0;
	text-align: left;
}

.image {
	width: 25vw;
	height: auto;
}

