..container {
	background-color: #4A90E2;
	padding-bottom: 10px;
}

.contactHeaderContainer {
	text-align: center;
	padding: 10px;
}

.contactHeader {
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.table {
	background-color: #D8D8D8;
	margin: 0 auto;
	margin-bottom: 50px;
	width: 80%;
	padding: 50px;
}

.image {
	max-width: 100%;
	max-height: 100%;
}

.descriptionContainer {
	width: 70%;
  margin: 0 auto;
}

.td {
	max-width: 50%;
	width: 50%;
}

tr.space > td {
  padding-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .table {
		width: 85%;
		padding: 10px;
  }
}